html, body { width: 100%; height: 100%; }

body { display: flex; flex-flow:  column nowrap; }

h1, h2, h3, h4, h5, h6, input { padding: 6px; }

input { border: none; border-bottom: 1px solid black; }

div { position: relative;}

canvas { touch-action: none; }
