<div class="module">

  <h1 class='404'>404 ERROR</h1>
  <h2>Sorry page {{url}} not found</p>
  <p>The link is probably broken or the page no longer exists</p>
  <a href='/blackboard'>Homepage</a>

</div>
