<div class="blackboard">

  <div id="blackboard"></div>

  <div class="interface">

    <div class="tools">
      {{> tools }}
    </div>

    <div class="chat">
      {{> chat }}
    </div>

  </div>

</div>
<script src='/socket-io' rel='text/javascript'></script>
<script src='/code/blackboard.js' type='module' rel='text/javascript'></script>
